
    {{#if messages.error}}
        <div id="flash-message" class="alert-error" >{{messages.error}}</div>
    {{else}}
        <div id="flash-message"class="alert-success">{{messages.success}}</div>
    {{/if}}
