<!--44:02 for Drop Down Logouts are Post-->

<nav>
    <ul>
        <li><a href="/" rel="noreferrer noopener">
                Home</a></li>
        <li class = "search-tab">
                <form class = "search-form" action="/posts/search"
                method="GET"
                enctype="application/x-www-form-urlencoded">
                        <input 
                        type="text" 
                        name="searchValue" 
                        class="search-field"
                        placeholder="Search Video">
                        
                        <button class="search-submit">Search</button>
                </form>         
        </li>
        <li><a href="/postvideo" rel="noreferrer noopener">
                Post Video</a></li>
        {{#if isLoggedIn}}
        <li id="user-context-tab">
                <p id="greeting">Hello {{user.username}}</p>
                <div id = "dropdown" class="dropdown">
                        <a id="link-to-user" 
                           href="/users/profile/{{user.userId}}"
                           class="link-to-user">Profile</a>
                        <p id="logout"
                           class="logout">Logout</p>
                </div>
            </li>
        {{else}}
        <li><a href="/login" rel="noreferrer noopener">
            Login</a></li>
        {{/if}}
    </ul>
</nav>