<nav>
    <ul>
        <li><a href="/" rel ="noreferrer noopener">
            Home</a></li>
        <li><a href="/login" rel="noreferrer noopener">
            Login</a></li>
        <li><a href="/registration" rel ="noreferrer noopener">
            Registration</a></li>
        <li><a href="/postvideo" rel ="noreferrer noopener">
            Post Video</a></li>
        <li><a href="/profile" rel ="noreferrer noopener">
            Profile</a></li>
        <li><a href="/viewpost/1234" rel ="noreferrer noopener">
            View Post</a></li>
    </ul>
</nav>