<div class="post-card">
    <div class="img-group">
        <img src="/{{thumbnail}}" class="img">
        <p class="img-title">
            {{title}}
                        
        </p>
        <div class="video control">
            <button class="delete-button" data-postId={{this.id}}>
                Delete
            </button>
        </div>
    </div>
</div>