<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {{#if posts}}
            <script defer src="/public/js/cards.js"></script>
        {{/if}}

        <link rel="stylesheet" href="/public/css/style.css">
        {{#if isLoggedIn}}
            <script name="navbar script" defer src="/public/js/navbar.js"></script>
        {{/if}}
        
        <script name="page specific script" defer src="{{script}}"></script>

    </head>
  
  
    <body>
        {{> header}}
        {{> navbar}}
        {{#if (nonEmptyObject messages)}}
            {{> flashmessage this}}
        {{/if}}
        {{{body}}}
    </body>

    {{> footer}}

</html>
