<!--REMINDER ADD ANCHOR TAG TO REGISTRATION PAGE FOR "DONT HAVE AN ACCOUNT? REGISTER HERE"-->
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <main>

        <h2>Login Form</h2>
        <form>
            <div class="input-group">
                <label for="username">Username</label>
                <input 
                type="text" 
                name="username" 
                id="username" 
                placeholder="Username"
                class="input-text">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input 
                type="password" 
                name="password" 
                id="password" 
                placeholder="Password"
                class="input-text">
            </div>
            
            <input type="submit" value="Login" class="form-button">
        </form>
    </main>

</body>
</html>