<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <main>
        <h2>Post Video</h2>

        <form>
            <div class="input-group">
                <label for="post_title">Input Post Title</label>
                <input 
                type="text" 
                name="post_title" 
                id="post_title"
                placeholder="Post Title"
                class="input-text">
                
            </div>
            <div class="input-group">
                <label for="post_description">Describe the Post</label>
                <input 
                type="text" 
                name="post_description" 
                id="post_description"
                placeholder="Description of Post"
                class="input-text">
                
            </div>
            <div>
                <label for="post_video">Input Video File</label>
                <input 
                type="file" 
                name="post_video" 
                id="post_video">
            </div>
            <div class="checkbox-group">
                <label for="accept_use_policy">Please accept use policy for uploading videos</label>
                <input 
                type="checkbox" 
                name="accept_use_policy" 
                id="accept_use_policy">
            </div>
            <input type="submit" value="Submit" class="form-button">
        </form>

    </main>

</body>
</html>