<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

    <main>
        <h2>User Profile</h2>

        <article id="user_details">
            <section id="username">Username</section>
            <section id="email">Email</section>

            <section id="user_posts">
                <h1>Posted Videos</h1>
                <li>
                    <img src="" alt="">
                    <p>Title</p>
                    <button>Edit</button>
                    <button>Delete</button>
                </li>
                <li>
                    <img src="" alt="">
                    <p>Title</p>
                    <button>Edit</button>
                    <button>Delete</button>
                </li>
                <li>
                    <img src="" alt="">
                    <p>Title</p>
                    <button>Edit</button>
                    <button>Delete</button>
                </li>
                <li>
                    <img src="" alt="">
                    <p>Title</p>
                    <button>Edit</button>
                    <button>Delete</button>
                </li>
            </section>
        </article>

    </main>
</body>
</html>