<body>
    <main>
        <h2>{{user.username}}'s Profile</h2>
        <article id="user_details">
        
        <div id="image-list" class="image-list">
            {{#each posts}}
                {{> profileCard this}}
            {{/each}}
    </div>

        </article>

    </main>
</body>
</html>