<!--REMINDER MAKE SURE TO ADD SOME TEXT SHOWING CRITERIA FOR EACH FIELD-->
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

    <main>
        <h2>Registration</h2>

        <form id = "reg-form"
        action="/users/registration"
        method = "post"
        enctype="application/x-www-form-urlencoded">
            <div class="input-group">
                <label for="username">Username</label>
                <input 
                type="text" 
                name="username" 
                id="username" 
                placeholder="Username" 
                class="input-text">
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input 
                type="email" 
                name="email" 
                id="email"
                placeholder="Email" 
                class="input-text"
                >
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input 
                type="password" 
                name="password" 
                id="password" 
                placeholder="Password" 
                class="input-text">
            </div>
            <div class="input-group">
                <label for="confirmPassword">Confirm Password</label>
                <input 
                type="password"
                name="confirmPassword" 
                id="confirmPassword"
                placeholder="Confirm password" 
                class="input-text"> 
            </div>

            <div class="checkbox-group">
                <label for="age_req">Confirm that you are at least 13 years of age</label>
                <input type="checkbox" name="age_req" id="age_req" >
            </div>

            <div class="checkbox-group">
                <label for="tos"> <a href="nowhere.html" rel ="noreferrer noopener" target="_blank">
                    Accept Terms of Service and Privacy Rules</a></label>
                <input type="checkbox" name="tos" id="tos" >
            </div>

            <input 
            type="submit" 
            value="Register" 
            class="form-button">

        </form>

    </main>
</body>
</html>