<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <main>
        <video width="720" height = "480" 
        src= "../public/videos/stafford.webm" 
        controls type="video/webm"></video>
        
        <article id="post">
            <h2 id="post_title">Post Title</h2>
            <section id="post_details">
                <span id="author">Author</span>
                <span id="creation_time">Creation Time</span>
                <div id="video"></div>
            </section>

            <section id="comment_section">Comments Section</section>
        </article>

    </main>
</body>
</html>