<body>
    <main>
        <video width="720" height = "480" 
        src= "{{videoSource}}" 
        controls type="video/webm"></video>
        
        <article id="post">
            <h2 id="post_title">{{postTitle}}</h2>
            <section id="post_details">
                <p id="author">Author: {{author}}</p>
                <p id="creation_time">Creation Time: {{dateCreated}}</p>
                <div id="video"></div>
            </section>
        </article>

        <article>
            <input type="text" class="comment-field">
            <section>
                <ul>
                    <li>
                        <div>
                            <p></p>
                            <p></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p></p>
                            <p></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p></p>
                            <p></p>
                        </div>
                    </li>
                </ul>
            </section>
        </article>

    </main>
</body>
</html>