:root {
  --site-bg: rgb(248, 170, 26);
  --text-rounded-corners: 1rem;
  --site-theme: rgb(18,17,64);
}

*,
*::before,
*::afafter{
  box-sizing: border-box;
}

html{
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  /*Top of Page*/
  color:whitesmoke;
  background-color: var(--site-theme);
  margin: 0;
}

header > h1{
  /*Page Banner*/
  text-align: center;
}


nav > ul {
  /*Flex Navbar for Desktop*/
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  list-style: none;
  padding: 10px;
  
}

nav > ul > li{
  /*List Elements. Fills Horizontal Space*/
    flex: 1 auto;
}

nav > ul > li > a {
  /*Anchor Tags*/
  text-decoration: none;
  color:whitesmoke;
  display:inline-block;
  height:100%;
  width: 100%;
}

nav > ul > li > a:hover {
  /*Mouse over Anchor tags*/
  background-color: rgb(18,17,124);
  border-radius: var(--text-rounded-corners);
}

body {
  font: 0.875rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--site-bg);
  margin:0;
  text-align: center;
  background-color: var(--site-bg);
}


form{
  display:grid;
  grid-auto-flow: row;
  gap: 8px;
  text-align: center;
  justify-items: center;
  
}

.input-group{
  display:flex;
  flex-direction: column;
  gap: 4px;
}

.input-text{
  transition: transform 150ms ease-in-out;
  border-radius: var(--text-rounded-corners);
  border: 1.5px solid black;
  padding: 4px 4px;
  width: 250px;
  height: 20px;
  align-self: center;
  box-shadow:  -2px 2px 5px black;
  
}

.form-button{
  background-color: rgb(0, 118, 228);
  color:white;
  border:none;
  border-radius: var(--text-rounded-corners);
  width:10%;
}

button{
  background-color: rgb(0, 118, 228);
  color:white;
  border:none;
  border-radius: var(--text-rounded-corners);
}

button:active{
  background-color:rgb(2, 130, 249);
  box-shadow:  2px -2px 5px black;
}

input:hover, button:hover{
  cursor:pointer;
  box-shadow:0 0 3px#00B7FF;
  
}

.site-footer{
  color: whitesmoke;
  background: var(--site-theme);
  text-align: center;
  padding: 12px;
  margin:10px;
}

/*
For mobile view set flex direction to column for main layout. Children is case by case

In CSS anything not in a media query is either general layout things or for mobile view

Position fixed takes out of dom
Left -120% to take off screen
Can bring back in with Left 0%
transition all 300 ms ease in out
ideally unfocus background content
Hamburger pop in for nav bar extra credit for fully responsive design
li:nth-child(index){} to affect individual elements can be used to make certain elements grow

@media screen and (min width some pixel count){} can be used to design for mobile, tablet, and desktop

*/